@import '../../../assets/global.scss';

.text_wrapper {
  text-align: center;
  background-color: #ff7f7f;
}

.title_font {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.36px;
  color: white;
}
