@import '../../../assets/global.scss';

.text_wrapper {
  text-align: center;
}

.title_font {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.36px;
}

.content_font {
  font-size: 30px;
  letter-spacing: 0.36px;
  font-weight: 600;
}
