/* You can add global styles to this file, and also import other style files */
@import '../src/assets/global.scss';
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    background-color: #FAF8F8;
}